<div>
    <div>
        <div>
            <form action="shorten">
                <input type="text" placeholder="Link" required>
                <input type="button" value="Shorten!">
            </form>
        </div>
    </div>
</div>