<section class="mt-5 pt-4" style="background:#ffffff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container pt-4">
                    <p class="fw-bold mt-5">Our Mission</p>
                    <h5 class="display-6 fw-bolder">Every link a Bitly link.</h5>
                    <p class="fw-bold mt-5">Our Vision</p>
                    <h5 class="display-6 fw-bolder">To educate the world about how links drive business results.</h5>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-5 pb-4" style="background: rgb(255, 255, 255);">
        <div class="row">
            <div class="col-lg-12 text-center pt-2">
                <h2 class="h2 fw-bolder">Our core values</h2><br />
            </div>
            <div class="col-lg-12 pt-4"></div>
            <div class="col-lg-4">
                <p class="h6 fw-bold">Customer First</p>
                <p>We are fiercely committed to our customers’ success. Our job is to ensure that our trusted platform, performance, and people help customers achieve their goals.</p>
                <p class="h6 fw-bold">Growth Focused</p>
                <p>We are building a fast-growing, healthy business powered by quick learning, constant optimization, and data-driven decisions.</p>
            </div>
            <div class="col-lg-4">
                <p class="h6 fw-bold">R.E.S.P.E.C.T.</p>
                <p>We are a team that respects each other and values diversity and inclusion. We treat others as we’d want to be treated and uphold the highest levels of integrity in everything we do.</p>
                <p class="h6 fw-bold"></p>
                <p>We are driven to win, bring our “A Game” to work each day, and deliver exceptional results.</p>
            </div>
            <div class="col-lg-4">
                <p class="h6 fw-bold">Do or Do Not, There is No Try</p>
                <p>We say what we are going to do, and we do it.</p>
            </div>
        </div>
    </div><br /><br />
</section>
<section class="mt-5 pt-4" style="background: rgb(255, 255, 255);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="container"><br><br><br><br>
                    <h4 class="display-4 fw-bolder p-2">Short links, big results</h4>
                    <p class="h4">A URL shortener built with powerful tools to help you grow and protect your brand.</p>
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="images/home1.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container pt-5 text-center">
                    <h5 class="display-6 fw-bolder">Together, we’re doing great things</h5>
                    <p class="mt-3 lh-lg" style="font-size:large">Meet some of the people who go the extra mile for you.<br /></p>
                    <p class="mt-3 lh-lg" style="font-size:large"><a href="#" class="btn btn-outline-primary btn-lg">Meet the Leadership Team</a></p>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pt-4" style="background:#80aad4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="container">
                    <h4 class="display-6 fw-bolder p-2 pt-5S pt-5">Meet Chauncey McPufferson.</h4>
                    <p style="font-size:large">Chauncey McPufferson was born at Skindle HQ in 2008. There are many different sides to this complex, little pufferfish. Just like your links, no two puffers are the same.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="images/about1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section style="background:#0B1736">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-12 text-center pt-5 pb-5">
                <h2 class="h2 fw-bolder text-white">More than a link shortener</h2>
            </div>
            <div class="col-lg-12 text-center">
                <a href="#" class="btn btn-lg btn-primary">Get Started For Free</a>
            </div>
        </div>
    </div>
</section>