<section class="mt-5 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="container"><br><br><br><br>
                    <h4 class="display-4 fw-bolder p-2">Short links, big results</h4>
                    <p class="h4">A URL shortener built with powerful tools to help you grow and protect your brand.</p>
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="images/home1.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section style="background:#0B1736">
    <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-lg-8">
                    <input type="text" placeholder="Shorten Your Link" class="form-control form-control-lg" />
                </div>
                <div class="col-lg-4">
                    <a href="#" class="btn btn-lg btn-primary col-12">Shorten</a>
                </div>
            </div>
    </div>
</section>
<section>
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-12 text-center pt-2">
                <p class="text-center">Scroll to learn more</p>
                <h2 class="h2 fw-bolder">The link shortener that has your brand’s back</h2>
                <p class="h5">Your brand wasn’t built to be hidden. Help it stand out with branded links that drive 34% more clicks.</p>
            </div>
            <div class="col-lg-12 pt-4"></div>
            <div class="col-lg-4">
                <img src="images/hs1.png" class="img-fluid" />
                <p class="h6 fw-bold">Inspire trust</p>
                <p>With more clicks comes increased brand recognition and consumer trust in your communications—which in turn inspires even more engagement with your links. (It’s a wonderful cycle.)</p>
            </div>
            <div class="col-lg-4">
                <img src="images/hs2.png" class="img-fluid" />
                <p class="h6 fw-bold">Boost results</p>
                <p>On top of better deliverability and click-through, rich link-level data gives you crucial insight into your link engagement so your team can make smarter decisions around its content and communications.</p>
            </div>
            <div class="col-lg-4">
                <img src="images/hs3.png" class="img-fluid" />                        
                <p class="h6 fw-bold">Gain control</p>
                <p>Take credit for your content and learn more about how it’s consumed by enabling auto-branding—a feature that ensures your brand remains in any link someone shortens pointing to your website.</p>
            </div>
            <div class="col-lg-12 text-center pt-4">
                <button type="button" class="btn btn-outline-info btn-lg">Get Started</button><br />
                <a href="#" class="btn btn-link" style="text-decoration:none">Learn More</a><br /><br />
                <hr class="mt-4" /><br /><br />
            </div>
        </div>
    </div><br /><br />
</section>
<section style="background: rgb(230, 240, 240);">
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-12 text-center pt-2">
                <h2 class="h2 fw-bolder">The most recognized brands in the world love Skindle</h2>
            </div>
            <div class="col-lg-12">
                <img src="images/icon1.svg" />&nbsp;&nbsp;
                <img src="images/icon2.svg" />&nbsp;&nbsp;
                <img src="images/icon3.svg" />&nbsp;&nbsp;
                <img src="images/icon4.svg" />&nbsp;&nbsp;
                <img src="images/icon5.svg" />&nbsp;&nbsp;
                <img src="images/icon6.svg" />&nbsp;&nbsp;
                <img src="images/icon7.svg" />&nbsp;&nbsp;
                <img src="images/icon8.svg" />&nbsp;&nbsp;
            </div>
        </div>
    </div>
</section>
<section style="background:#7c91c5">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-12 text-center pt-5 pb-5">
                <h2 class="h2 fw-bolder text-white">More than a link shortener</h2>
            </div>
            <div class="col-lg-12 text-center">
                <a href="#" class="btn btn-lg btn-primary">Get Started For Free</a>
            </div>
        </div>
    </div>
</section>