<div>
    <div>
        <h1>Short links, big results</h1>
        <h3>A URL shortener built with powerful tools to help you grow and protect your brand.</h3>
        <img src="~/Projects/test/backend-project-abhishek-mudgal-au13/view/public/images/home1.jpg" alt="">
    </div>

    <div>
        <p>Scroll to learn more</p>
        <h2>The link shortener that has your brand’s back</h2>
        <h3>Your brand wasn’t built to be hidden. Help it stand out with branded links that drive 34% more clicks.</h3>

        <div>
            <div>
                <img src="~/Projects/test/backend-project-abhishek-mudgal-au13/view/public/images/hs1.png" alt="">
                <p>Inspire trust</p>
                <p>With more clicks comes increased brand recognition and consumer trust in your communications—which in
                    turn inspires even more engagement with your links. (It’s a wonderful cycle.)</p>
            </div>

            <div>
                <img src="~/Projects/test/backend-project-abhishek-mudgal-au13/view/public/images/hs1.png" alt="">
                <p>Inspire trust</p>
                <p>With more clicks comes increased brand recognition and consumer trust in your communications—which in
                    turn inspires even more engagement with your links. (It’s a wonderful cycle.)</p>
            </div>
            <div>
                <img src="~/Projects/test/backend-project-abhishek-mudgal-au13/view/public/images/hs1.png" alt="">
                <p>Inspire trust</p>
                <p>With more clicks comes increased brand recognition and consumer trust in your communications—which in
                    turn inspires even more engagement with your links. (It’s a wonderful cycle.)</p>
            </div>
        </div>
    </div>
    <div>
        <h2>More than a link shortener</h2>
        <button type="submit">Get Started For Free</button>
    </div>
</div>