<div>
    <div>
        <h2>Login in</h2>
        <form action="login">
            <label for="inEmail"></label><br>
            <input type="email" id="inEmail" required><br>
            <label for="inPassword"></label><br>
            <input type="password" id="inPassword" required><br>
            <button type="submit" value="Login"></button>
        </form>
    </div>
</div>