<center>
        <div class="col-logo-5">
            <img src="images/projectlogo.png" alt="logo" width="100" height="90">
        </div>
    </center>

    <div class="container">
    <form action="/action_page.php">
        <div class="row">
        <h2 style="text-align:center">Login with Social Media or Manually</h2>
        <div class="vl">
            <span class="vl-innertext">or</span>
        </div>

        <div class="col">
            <a href="https:facebook.com" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </a>
            <a href="https:twitter.com" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
            </a>
            <a href="https:gmail.com" class="google btn"><i class="fa fa-google fa-fw">
            </i> Login with Google+
            </a>
        </div>

        <div class="col">
            <div class="hide-md-lg">
            <p>Or </p>
            </div>

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </div>
        
        </div>
    </form>
    </div>

    <div class="bottom-container">
    <div class="row">
        <div class="col">
        <a href="register.html" style="color:rgb(255, 255, 255)" class="btn">Sign up</a>
        </div>
        <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
    </div>
    </div>
    <footer>
        <center>
            <div class="col-lg-2">
                <p>&copy; 2021 Skindle.</p>
            </div>
        </center>
    </footer>