<footer>
    <div class="container-fluid">
        <div class="row pt-5 mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <strong class="lh-lg">Company</strong>
                <ul class="list-unstyled">
                    <li>&nbsp;&nbsp;<a href="../dashboard.hbs" class="lh-base text-dark text-decoration-none" style="font-weight:500">About Skindle</a></li>
                    {{!-- <li>&nbsp;&nbsp;<a href="team.html" class="lh-base text-dark text-decoration-none" style="font-weight:500">Our Team</a></li> --}}
                </ul>
            </div>
            <div>
                <center>
                    <img src="images/foterlogo.png" width="100" height="80" />
                    <p>&copy; 2021 Skindle.</p> 
                </center>
            </div>
    </div>
</footer>